.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin: 0 auto;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    width: 300px;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    background-color: #2e2f34;

    header {
        height: 150px;
        width: 100%;
        position: relative;

        .banner {
            width: 100%;
            object-fit: cover;
            display: block;
            background-position: center;
            background-repeat: no-repeat;
        }

        .avatarContainer {
            width: 96px;
            height: 96px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 50%;
            transform: translatey(-25%);
            margin-left: 4px;

            .avatarDecoration {
                position: absolute;
                width: 92px;
                height: 92px;
            }
            .avatar {
                width: 80px;
                height: 80px;
                border-radius: 50%;
            }
        }
    }

    .userInfos {
        display: flex;
        align-items: flex-end;
        gap: 8px;
        width: 100%;
        padding: 0 8px 8px 16px;

        .userInfosName {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            h2 {
                font-size: 20px;
                font-weight: 800;
            }
        }

        .userInfosTag {
            align-items: center;
            height: fit-content;
            display: flex;
            justify-content: space-between;
            padding: 1px;
            border-radius: 6px;
            border: 1px solid rgba(255, 255, 255, 0.08);

            img {
                height: 14px;
                margin-left: 2px;
            }
            p {
                font-size: 12px;
                margin-right: 2px;
            }
        }
    }
}
